absl-py==0.1.10
alembic==0.9.7
asn1crypto==0.23.0
astor==0.6.2
atomicwrites==1.1.5
attrs==18.1.0
audioread==2.1.5
autopep8==1.3.4
beautifulsoup4==4.6.0
bleach==1.5.0
cachetools==2.0.1
certifi==2018.4.16
cffi==1.11.2
chardet==3.0.4
class-registry==2.1.2
click==6.7
cloudpickle==0.5.3
coconut-develop==1.3.1.post0.dev28
conda==4.5.4
convnetskeras==0.1
cryptography==2.1.4
cycler==0.10.0
Cython==0.27.3
dask==0.17.5
decorator==4.2.1
dill==0.2.7.1
entrypoints==0.2.3
filters==1.3.2
future==0.16.0
gast==0.2.0
google==2.0.1
google-apputils==0.4.2
googleapis-common-protos==1.5.3
graphviz==0.8.2
grpc-google-iam-v1==0.11.4
grpcio==1.9.1
h5py==2.7.1
html5lib==0.9999999
httplib2==0.10.3
idna==2.6
ipykernel==4.8.2
ipyparallel==6.1.1
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.1
jedi==0.11.1
Jinja2==2.10
joblib==0.11
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.4.0
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.1.1
jupyter-latex-envs==1.4.4
jupyter-nbextensions-configurator==0.4.0
jupyterhub==0.8.1
jupyterthemes==0.18.3
kapre==0.1.3
Keras==2.1.5
-e git+https://github.com/JihongJu/keras-fcn.git@f153ba7c5335dab68f897c9c9fa40e6a77c8d31b#egg=keras_fcn
keras-resnet==0.1.0
keras-retinanet==0.3.1
klepto==0.1.4
lesscpy==0.13.0
librosa==0.6.0
livereload==2.5.2
llvmlite==0.22.0
lxml==4.2.1
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.1.2
mistune==0.8.3
mkdocs==0.17.4
mkl-fft==1.0.0
mkl-random==1.0.1
mock==2.0.0
more-itertools==4.2.0
multiprocess==0.70.5
music21==5.1.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
notebook==5.4.1
numba==0.37.0
numpy==1.14.3
oauth2client==3.0.0
opencv-python==3.4.1.15
pamela==0.3.0
pandas==0.22.0
pandocfilters==1.4.2
parso==0.1.1
pathlib==1.0.1
pathos==0.2.1
pbr==4.0.4
pexpect==4.4.0
pickleshare==0.7.4
Pillow==5.1.0
pluggy==0.6.0
ply==3.8
pox==0.2.3
ppft==1.6.4.7.1
prompt-toolkit==1.0.15
proto-google-cloud-datastore-v1==0.90.4
proto-google-cloud-error-reporting-v1beta1==0.15.3
proto-google-cloud-logging-v2==0.91.3
protobuf==3.5.2
psutil==5.4.3
ptyprocess==0.5.2
py==1.5.3
pyasn1==0.4.2
pyasn1-modules==0.2.1
PyAudio==0.2.11
pycocotools==2.0
pycodestyle==2.3.1
pycosat==0.6.3
pycparser==2.18
pydot==1.2.4
Pygments==2.2.0
pyOpenSSL==17.5.0
pyparsing==2.2.0
PySocks==1.6.7
pytest==3.6.0
python-dateutil==2.7.2
python-editor==1.0.3
python-gflags==3.1.2
python-oauth2==1.0.1
pytz==2018.3
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==17.0.0
qtconsole==4.3.1
regex==2018.2.21
requests==2.18.4
resampy==0.2.0
rsa==3.4.2
ruamel-yaml==0.11.14
runipy==0.1.5
scikit-image==0.14.0
scikit-learn==0.19.1
scipy==1.1.0
seaborn==0.8.1
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
-e git+https://github.com/evhub/song-annotation-db@267311054c3720a08e7b39fc5d416bebe0fc3c43#egg=song_annotation_db
SQLAlchemy==1.2.2
tensorboard==1.8.0
tensorflow==1.8.0
tensorflow-tensorboard==1.5.1
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
toolz==0.9.0
toposort==1.5
tornado==4.5.3
tqdm==4.23.4
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5
Werkzeug==0.14.1
widgetsnbextension==3.1.3
